<header class="ngx-material-timepicker-example__header">
    <h4 class="ngx-material-timepicker-example__title">
        <ng-content></ng-content>
    </h4>
    <button class="ngx-material-timepicker-example__btn" (click)="toggleAnimState()">
        <svg viewBox="0 0 24 24"
             style="display: inline-block; color: rgba(0, 0, 0, 0.87); fill: currentcolor; height: 24px; width: 24px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;">
            <path
                d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
        </svg>
        <span class="tooltip">View source</span>
    </button>
</header>
<div class="source-code" [@slideToggle]="animationState">
    <pre>
        <code>
            {{sourceCode}}
        </code>
    </pre>
</div>
