<div class="ngx-timepicker-control" [ngClass]="{'ngx-timepicker-control--active': isFocused}">
    <!--suppress HtmlFormInputWithoutLabel -->
    <input class="ngx-timepicker-control__input"
           maxlength="2"
           [(ngModel)]="time"
           [placeholder]="placeholder"
           [disabled]="disabled"
           (keydown)="onKeydown($event)"
           (input)="onInput(inputElement)"
           (focus)="onFocus()"
           (blur)="onBlur()" #inputElement>
    <div class="ngx-timepicker-control__arrows">
            <span class="ngx-timepicker-control__arrow" role="button" (click)="!disabled && increase()">
                &#9650;
            </span>
        <span class="ngx-timepicker-control__arrow" role="button" (click)="!disabled && decrease()">
                &#9660;
            </span>
    </div>
</div>
