@import "../../styles/config";
@import "../../styles/dial-common";

.timepicker-dial__control {
    border: none;
    background-color: transparent;
    font-size: 50px;
    width: 60px;
    padding: 0;
    border-radius: 3px;
    &_editable {
        &:focus, &::selection {
            color: $primary-color;
            background-color: #fff;
            outline: $primary-color;
        }
    }
}
