<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownAttribute -->
<input class="timepicker-dial__control timepicker-dial__item"
       [ngClass]="{'timepicker-dial__item_active': isActive}"
       [ngModel]="time | timeLocalizer: timeUnit"
       (ngModelChange)="time = $event"
       (input)="updateTime()" (focus)="saveTimeAndChangeTimeUnit($event, timeUnit)"
       readonly [timepickerAutofocus]="isActive" (keydown)="onKeyDown($event)"
       *ngIf="!isEditable;else editableTemplate">

<ng-template #editableTemplate>
    <!--suppress HtmlFormInputWithoutLabel, HtmlUnknownAttribute -->
    <input class="timepicker-dial__control timepicker-dial__item timepicker-dial__control_editable"
           [ngClass]="{'timepicker-dial__item_active': isActive}"
           [ngModel]="time | timeParser: timeUnit | timeLocalizer: timeUnit : true"
           (ngModelChange)="onModelChange($event)"
           (input)="updateTime()" (focus)="saveTimeAndChangeTimeUnit($event, timeUnit)"
           [timepickerAutofocus]="isActive" (keydown)="onKeyDown($event)">
</ng-template>
