@import "../../styles/config";
@import "../../styles/dial-common";

.timepicker-dial__control {
    border: none;
    background-color: transparent;
    font-size: 50px;
    width: 60px;
    padding: 0;
    border-radius: 3px;
    text-align: right;
    &_editable {
        &:focus {
            color: $dial-editable-active-color;
            @supports (color: var(--dial-editable-active-color)) {
                color: var(--dial-editable-active-color);
            }
            background-color: $dial-editable-background-color;
            @supports (background-color: var(--dial-editable-background-color)) {
                background-color: var(--dial-editable-background-color);
            }
            outline: $dial-editable-active-color;
            @supports (outline: var(--dial-editable-active-color)) {
                outline: var(--dial-editable-active-color);
            }
        }
    }
    &:disabled {
        cursor: default;
    }
    &:focus-visible {
        outline: none;
    }
}
