@import "../../styles/config";

.timepicker-button {
    display: inline-block;
    height: 36px;
    min-width: 88px;
    line-height: 36px;
    border: 12px;
    border-radius: 2px;
    background-color: transparent;
    text-align: center;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    user-select: none;
    position: relative;
    cursor: pointer;
    outline: none;
    color: $button-color;
    @supports (color: var(--button-color)) {
        color: var(--button-color);
    }
    &:hover, &:focus {
        background-color: rgba(153, 153, 153, 0.2);
    }
    > span {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        padding-left: 16px;
        padding-right: 16px;
        font-family: $primary-font-family;
        @supports (font-family: var(--primary-font-family)) {
            font-family: var(--primary-font-family)
        }
    }
}
