@import "../../styles/config";
@import "../../styles/dial-common";

.timepicker-period {
    display: flex;
    flex-direction: column;
    &__btn {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 18px;
        font-weight: 500;
        font-family: $primary-font-family;
        user-select: none;
        outline: none;
    }
}
