@import "../../styles/config";
@import "../../styles/dial-common";

.timepicker-period {
    display: flex;
    flex-direction: column;
    position: relative;
    &__btn {
        padding: 1px 3px;
        border: 0;
        background-color: transparent;
        font-size: 18px;
        font-weight: 500;
        user-select: none;
        outline: none;
        border-radius: 3px;
        transition: background-color .5s;
        font-family: $primary-font-family;
        @supports (font-family: var(--primary-font-family)) {
            font-family: var(--primary-font-family)
        }
        &:focus {
            background-color: rgba(0, 0, 0, .07);
        }
    }
    &__warning {
        padding: 5px 10px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .55);
        color: #ffffff;
        position: absolute;
        width: 200px;
        left: -20px;
        top: 40px;
        & > p {
            margin: 0;
            font-size: 12px;
            font-family: $primary-font-family;
            @supports (font-family: var(--primary-font-family)) {
                font-family: var(--primary-font-family)
            }
        }
    }
}
