@import "../../styles/config";
@import "../../styles/dial-common";

.timepicker-period {
    display: flex;
    flex-direction: column;
    position: relative;
    &__btn {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 18px;
        font-weight: 500;
        font-family: $primary-font-family;
        user-select: none;
        outline: none;
    }
    &__warning {
        padding: 5px 10px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .55);
        color: #ffffff;
        position: absolute;
        width: 200px;
        left: -20px;
        bottom: -40px;
        transform: scale(0);
        transition: transform .2s;
        &_active {
            transform: scale(1);
        }
        & > p {
            margin: 0;
            font-size: 12px;
        }
    }
}
