<header class="header">
    <div class="container header__container">
        <h1>Material Time Picker</h1>
        <a class="github-link"><img src="/assets/github.svg" role="presentation"></a>
    </div>
</header>
<main class="ngx-material-timepicker main-container">
    <div class="ngx-material-timepicker-heading">
        <h2 class="ngx-material-timepicker-heading__title">ngx-material-timepicker</h2>
        <p class="ngx-material-timepicker-heading__description">Handy material design timepicker for Angular 4.0+</p>
    </div>
    <div class="ngx-material-timepicker-examples">
        <h3 class="ngx-material-timepicker-examples__title">Examples</h3>
        <section class="ngx-material-timepicker-examples__container ngx-material-timepicker-example">
            <app-example-source-code [sourceCode]="simpleExamples">Simple examples</app-example-source-code>
            <div class="ngx-material-timepicker-example__body">
                <p class="ngx-material-timepicker-example__description">
                    Time Picker shows only 12hr format, but it can convert and return 24hr format time, if you need
                    that.
                </p>
                <div class="ngx-material-timepicker-example__form-group">
                    <input placeholder="12hr format (default settings)" aria-label="12hr format"
                           [ngxTimepicker]="default" readonly>
                    <ngx-material-timepicker #default></ngx-material-timepicker>
                </div>
                <div class="ngx-material-timepicker-example__form-group">
                    <input placeholder="24hr format" aria-label="24hr format"
                           [ngxTimepicker]="fullTime" [format]="24" readonly>
                    <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                </div>
                <div
                    class="ngx-material-timepicker-example__form-group ngx-material-timepicker-example__form-group--disabled">
                    <input placeholder="Disabled Time Picker" aria-label="disabled time picker"
                           [ngxTimepicker]="disabled" [disabled]="true">
                    <ngx-material-timepicker #disabled></ngx-material-timepicker>
                </div>
            </div>
        </section>
        <section class="ngx-material-timepicker-examples__container ngx-material-timepicker-example">
            <app-example-source-code [sourceCode]="customSettings">Custom settings examples</app-example-source-code>
            <div class="ngx-material-timepicker-example__body">
                <p class="ngx-material-timepicker-example__description">
                    You can change time picker view with your own settings.
                </p>
                <div class="ngx-material-timepicker-example__form-group">
                    <input placeholder="Custom buttons" aria-label="Custom buttons"
                           [ngxTimepicker]="timepickerWithButtons" readonly>
                    <ngx-material-timepicker #timepickerWithButtons [cancelBtnTmpl]="cancelBtn"
                                             [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
                    <ng-template #cancelBtn>
                        <button style="margin-right: 10px;">Cancel tmpl</button>
                    </ng-template>
                    <ng-template #confirmBtn>
                        <button>Confirm tmpl</button>
                    </ng-template>
                </div>
            </div>
        </section>
    </div>
</main>
