<header class="header">
    <div class="container header__container">
        <h1>Material Time Picker</h1>
        <a class="github-link" href="https://github.com/Agranom/ngx-material-timepicker.git">
            <!--suppress HtmlUnknownAttribute -->
            <svg aria-labelledby="simpleicons-github-icon" role="img" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-github-icon">GitHub icon</title>
                <!--suppress CheckEmptyScriptTag -->
                <path fill="#ffffff"
                      d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
            </svg>

        </a>
    </div>
</header>
<div class="ngx-material-timepicker">
    <main class="main-container">
        <div class="ngx-material-timepicker-heading">
            <h2 class="ngx-material-timepicker-heading__title">ngx-material-timepicker</h2>
            <p class="ngx-material-timepicker-heading__description">Handy material design timepicker for Angular
                6.0+</p>
        </div>
        <div class="ngx-material-timepicker-examples">
            <h3 class="ngx-material-timepicker-examples__title">Examples</h3>
            <section class="ngx-material-timepicker-examples__container ngx-material-timepicker-example">
                <app-example-source-code [sourceCode]="simpleExamples">Simple examples</app-example-source-code>
                <div class="ngx-material-timepicker-example__body">
                    <p class="ngx-material-timepicker-example__description">
                        Simple timepicker settings
                    </p>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="12hr format (default settings)" aria-label="12hr format"
                               [ngxTimepicker]="defaultPicker" readonly>
                        <ngx-material-timepicker #defaultPicker [preventOverlayClick]="true"></ngx-material-timepicker>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="24hr format" aria-label="24hr format"
                               [ngxTimepicker]="fullTime" [format]="24" readonly>
                        <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input aria-label="default value"
                               [ngxTimepicker]="defaultValue" [value]="'05:11 pm'" readonly>
                        <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Default time 11:11 pm" aria-label="default time"
                               [ngxTimepicker]="defaultTime" readonly>
                        <ngx-material-timepicker #defaultTime [defaultTime]="'11:11 pm'"></ngx-material-timepicker>
                    </div>
                    <div
                        class="ngx-material-timepicker-example__form-group ngx-material-timepicker-example__form-group--disabled">
                        <input placeholder="Disabled Time Picker" aria-label="disabled time picker"
                               [ngxTimepicker]="disabled" [disabled]="true">
                        <ngx-material-timepicker #disabled></ngx-material-timepicker>
                    </div>
                </div>
            </section>
            <section class="ngx-material-timepicker-examples__container ngx-material-timepicker-example">
                <app-example-source-code [sourceCode]="minMaxExamples">Min and Max value</app-example-source-code>
                <div class="ngx-material-timepicker-example__body">
                    <p class="ngx-material-timepicker-example__description">
                        Set up min or max value (or both) for the timepicker.
                    </p>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Min time 03:15 am"
                               [ngxTimepicker]="min" [min]="'03:15 am'" readonly>

                        <ngx-material-timepicker #min></ngx-material-timepicker>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Max time 06:18 pm"
                               [ngxTimepicker]="max" max="06:18 pm" readonly>

                        <ngx-material-timepicker #max></ngx-material-timepicker>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Time range from 12:10 am to 08:11 pm"
                               [ngxTimepicker]="range" min="12:10 am" max="08:11 pm" readonly>

                        <ngx-material-timepicker #range></ngx-material-timepicker>
                    </div>
                </div>
            </section>
            <section class="ngx-material-timepicker-examples__container ngx-material-timepicker-example">
                <app-example-source-code [sourceCode]="toggleExamples">Timepicker toggle button
                </app-example-source-code>
                <div class="ngx-material-timepicker-example__body">
                    <p class="ngx-material-timepicker-example__description">
                        Provide you to open the timepicker by button.
                    </p>
                    <div
                        class="ngx-material-timepicker-example__form-group ngx-material-timepicker-example__form-group--toggled">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly>
                        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                    </div>
                    <p class="ngx-material-timepicker-example__description">
                        Provide an custom icon to the toggle button.
                    </p>
                    <div
                        class="ngx-material-timepicker-example__form-group ngx-material-timepicker-example__form-group--toggled">
                        <input placeholder="Toggle button"
                               [ngxTimepicker]="toggleIcon" [disableClick]="true" readonly>
                        <ngx-material-timepicker-toggle [for]="toggleIcon">
                            <!--suppress HtmlUnknownAttribute -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px"
                                 ngxMaterialTimepickerToggleIcon>
                                <!--suppress CheckEmptyScriptTag -->
                                <path
                                    d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
                            </svg>
                        </ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
                    </div>
                    <div
                        class="ngx-material-timepicker-example__form-group ngx-material-timepicker-example__form-group--toggled">
                        <input placeholder="Toggle button (disabled)"
                               [ngxTimepicker]="toggleTimepickerDisabled" [disableClick]="true" readonly>
                        <ngx-material-timepicker-toggle [for]="toggleTimepickerDisabled"
                                                        [disabled]="true"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepickerDisabled></ngx-material-timepicker>
                    </div>
                </div>
            </section>
            <section class="ngx-material-timepicker-examples__container ngx-material-timepicker-example">
                <app-example-source-code [sourceCode]="editableDial">Editable dial
                </app-example-source-code>
                <div class="ngx-material-timepicker-example__body">
                    <p class="ngx-material-timepicker-example__description">
                        You can change time right through the timepicker dial (with a keyboard) without interaction with
                        a clock face.
                    </p>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Editable dial" aria-label="Editable dial"
                               [ngxTimepicker]="editableDialPicker" readonly>
                        <ngx-material-timepicker #editableDialPicker
                                                 [enableKeyboardInput]="true"></ngx-material-timepicker>
                    </div>
                </div>
            </section>
            <section class="ngx-material-timepicker-examples__container ngx-material-timepicker-example">
                <app-example-source-code [sourceCode]="minutesGapCode">Minutes Gap
                </app-example-source-code>
                <div class="ngx-material-timepicker-example__body">
                    <p class="ngx-material-timepicker-example__description">
                        You can set up a gap for minutes. It is '1' by default.
                    </p>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Default gap"
                               [ngxTimepicker]="defaultGap" readonly>
                        <ngx-material-timepicker #defaultGap></ngx-material-timepicker>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Gap with 5"
                               [ngxTimepicker]="with5Gap" readonly>
                        <ngx-material-timepicker #with5Gap [minutesGap]="5"></ngx-material-timepicker>
                    </div>
                </div>
            </section>
            <section class="ngx-material-timepicker-examples__container ngx-material-timepicker-example">
                <app-example-source-code [sourceCode]="customSettings">Custom settings examples
                </app-example-source-code>
                <div class="ngx-material-timepicker-example__body">
                    <p class="ngx-material-timepicker-example__description">
                        You can change time picker view with your own settings.
                    </p>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Custom buttons" aria-label="Custom buttons"
                               [ngxTimepicker]="timepickerWithButtons" readonly>
                        <ngx-material-timepicker #timepickerWithButtons [cancelBtnTmpl]="cancelBtn"
                                                 [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
                        <ng-template #cancelBtn>
                            <button style="margin-right: 10px;">Cancel tmpl</button>
                        </ng-template>
                        <ng-template #confirmBtn>
                            <button>Confirm tmpl</button>
                        </ng-template>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Custom theme" aria-label="Custom theme"
                               [ngxTimepicker]="darkPicker" readonly>
                        <ngx-material-timepicker #darkPicker
                                                 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
                    </div>
                    <div class="ngx-material-timepicker-example__form-group">
                        <input placeholder="Custom hint" aria-label="Custom hint"
                               [ngxTimepicker]="customHint" readonly>
                        <ngx-material-timepicker #customHint [enableKeyboardInput]="true"
                                                 [editableHintTmpl]="dialHint"></ngx-material-timepicker>
                        <ng-template #dialHint>
                            <p>Custom hint</p>
                        </ng-template>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p class="footer__version">Current version 3.1.0</p>
        </div>
    </footer>
</div>
