<div class="ngx-timepicker">
    <ngx-timepicker-time-control
        [placeholder]="'HH'"
        [time]="(hour$|async)?.time"
        [min]="minHour"
        [max]="maxHour"></ngx-timepicker-time-control>
    <span class="ngx-timepicker__time-colon">:</span>
    <ngx-timepicker-time-control
        [placeholder]="'MM'"
        [time]="(minute$|async)?.time"
        [min]="0"
        [max]="59"></ngx-timepicker-time-control>
    <ngx-timepicker-period-selector
        [selectedPeriod]="period$|async"
        (periodSelected)="selectPeriod($event)"
        *ngIf="format !== 24"></ngx-timepicker-period-selector>
</div>
