<div class="ngx-timepicker">
    <ngx-timepicker-time-control
        [placeholder]="'HH'"
        [time]="(hour$|async)?.time"
        [min]="minHour"
        [max]="maxHour"
        [timeUnit]="timeUnit.HOUR"
        [disabled]="disabled"
        (timeChanged)="changeHour($event)"></ngx-timepicker-time-control>
    <span class="ngx-timepicker__time-colon">:</span>
    <ngx-timepicker-time-control
        [placeholder]="'MM'"
        [time]="(minute$|async)?.time"
        [min]="0"
        [max]="59"
        [timeUnit]="timeUnit.MINUTE"
        [disabled]="disabled"
        (timeChanged)="changeMinute($event)"></ngx-timepicker-time-control>
    <ngx-timepicker-period-selector
        [selectedPeriod]="period$|async"
        [disabled]="disabled"
        (periodSelected)="changePeriod($event)"
        *ngIf="format !== 24"></ngx-timepicker-period-selector>
</div>
