<div class="timepicker-dial">
    <div class="timepicker-dial__container">
        <div class="timepicker-dial_arrows">
            <i class="timepicker-dial_arrows_up" (click)="clickUp()"><svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px"
                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="arrow"
                    d="M18.221,7.206l9.585,9.585c0.879,0.879,0.879,2.317,0,3.195l-0.8,0.801c-0.877,0.878-2.316,0.878-3.194,0  l-7.315-7.315l-7.315,7.315c-0.878,0.878-2.317,0.878-3.194,0l-0.8-0.801c-0.879-0.878-0.879-2.316,0-3.195l9.587-9.585  c0.471-0.472,1.103-0.682,1.723-0.647C17.115,6.524,17.748,6.734,18.221,7.206z"
                    />
            </svg></i>
            <i class="timepicker-dial_arrows_down" (click)="clickDown()"><svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px"
                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="arrow"
                    d="M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z"
                    />
            </svg></i>
        </div>
        <div class="timepicker-dial__time">
            <ngx-material-timepicker-dial-control #hhComponent [timeList]="hours" [time]="hour" [timeUnit]="timeUnit.HOUR"
                                                  [isActive]="activeTimeUnit === timeUnit.HOUR"
                                                  [isEditable]="isEditable"
                                                  (timeUnitChanged)="changeTimeUnit($event)"
                                                  (timeChanged)="changeHour($event)"
                                                  (focused)="showHint()"
                                                  (unfocused)="hideHint()">

            </ngx-material-timepicker-dial-control>
            <span>:</span>
            <ngx-material-timepicker-dial-control ##mmComponent [timeList]="minutes" [time]="minute" [timeUnit]="timeUnit.MINUTE"
                                                  [isActive]="activeTimeUnit === timeUnit.MINUTE"
                                                  [isEditable]="isEditable"
                                                  [minutesGap]="minutesGap"
                                                  [disabled]="hoursOnly"
                                                  (timeUnitChanged)="changeTimeUnit($event)"
                                                  (timeChanged)="changeMinute($event)"
                                                  (focused)="showHint()"
                                                  (unfocused)="hideHint()">

            </ngx-material-timepicker-dial-control>
        </div>
        <ngx-material-timepicker-period class="timepicker-dial__period"
                                        [ngClass]="{'timepicker-dial__period--hidden': format === 24}"
                                        [selectedPeriod]="period" [activeTimeUnit]="activeTimeUnit"
                                        [maxTime]="maxTime" [minTime]="minTime" [format]="format"
                                        [hours]="hours" [minutes]="minutes" [selectedHour]="hour"
                                        [meridiems]="meridiems"
                                        (periodChanged)="changePeriod($event)"></ngx-material-timepicker-period>
    </div>
    <div *ngIf="isEditable || editableHintTmpl" [ngClass]="{'timepicker-dial__hint-container--hidden': !isHintVisible}">
        <!--suppress HtmlUnknownAttribute -->
        <ng-container *ngTemplateOutlet="editableHintTmpl ? editableHintTmpl : editableHintDefault"></ng-container>
        <ng-template #editableHintDefault>
            <small class="timepicker-dial__hint"> * use arrows (<span>&#8645;</span>) to change the time</small>
        </ng-template>
    </div>
</div>
