<div class="timepicker-dial">
    <div class="timepicker-dial__time">
        <input class="timepicker-dial__item timepicker-dial__control"
               [ngClass]="{'timepicker-dial__control_active': activeTimeUnit === timeUnit.HOUR}"
               (click)="changeTimeUnit(timeUnit.HOUR)"
               [value]="hour | timeFormatter: timeUnit.HOUR">
        <span>:</span>
        <span class="timepicker-dial__item"
              [ngClass]="{'timepicker-dial__item_active': activeTimeUnit === timeUnit.MINUTE}"
              (click)="changeTimeUnit(timeUnit.MINUTE)">{{minute | timeFormatter: timeUnit.MINUTE}}</span>
    </div>
    <div class="timepicker-dial__period" *ngIf="format !== 24">
			<span class="timepicker-dial__item"
                  [ngClass]="{'timepicker-dial__item_active': period === timePeriod.AM}"
                  (click)="changePeriod(timePeriod.AM)">AM</span>
        <span class="timepicker-dial__item"
              [ngClass]="{'timepicker-dial__item_active': period === timePeriod.PM}"
              (click)="changePeriod(timePeriod.PM)">PM</span>
    </div>
</div>
