@import "../../styles/config";

$clock-face-number-color: #6c6c6c;

.clock-face {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    &__inner {
        position: absolute;
    }
}

.clock-face__container {
    margin-left: -2px;
}

.clock-face__number {
    position: absolute;
    transform-origin: 0 100%;
    width: 50px;
    text-align: center;
    z-index: 2;
    &--outer {
        height: calc(290px / 2 - 20px);
        > span {
            font-size: 16px;
            color: $clock-face-number-color;
        }
    }
    &--inner {
        > span {
            font-size: 14px;
            color: lighten($clock-face-number-color, 15%);
        }
    }
    > span {
        user-select: none;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 50%;
        font-weight: 500;
        font-family: $primary-font-family;
        &.active {
            background-color: $primary-color;
            color: #fff;
        }
        &.disabled {
            color: lighten($clock-face-number-color, 35%);
        }
    }
}

.clock-face__clock-hand {
    height: 95px;
    width: 2px;
    background-color: $primary-color;
    transform-origin: 0 100%;
    position: absolute;
    top: calc(50% - 95px);
    z-index: 1;
    &:after {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        bottom: -3px;
        left: -3.5px;
    }
}

.clock-face__clock-hand_minute:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #fff;
    border: 4px solid $primary-color;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: calc(50% - 8px);
    box-sizing: content-box;
}

@media (max-width: 1023px) and (orientation: landscape) {
    .clock-face {
        width: 225px;
        height: 225px;
        padding: 5px;
    }
    .clock-face__number {
        &--outer {
            height: calc(225px / 2 - 5px);
        }
    }
}
