@import "./config";

.timepicker-dial {
    &__item {
        cursor: pointer;
        color: $dial-inactive-color;
        font-family: $primary-font-family;
        @supports (font-family: var(--primary-font-family)) {
            font-family: var(--primary-font-family);
            color: var(--dial-inactive-color);
        }
        &_active {
            color: $dial-active-color;
            @supports (color: var(--dial-active-color)) {
                color: var(--dial-active-color);
            }
        }
    }
}
